.landing-blurb {
    text-align: center;
    padding-top: 100px;
}

.front-page-mainheading {
    padding: 20% 0rem;
}

.landing-page-posts {
    padding: 10% 0 0 0;
}

.author-container {
    padding-top: 2rem;
}